<template>
  <div>
    <div class="container mx-auto">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>

      <div class="w-full">
        <div class="flex flex-col h-full">
          <div class="text-gray-700 text-center">
            <div class="inline-block relative w-54 my-2 px-4">
              <v-select
                style="min-width:280px"
                class="style-chooser"
                v-model="selectedCountry"
                :options="data"
                label="Country"
                @input="selectCountry(selectedCountry)"
              ></v-select>
              <!-- <select
                v-model="selectedCountry"
                @change="selectCountry"
                class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-6 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
              >
                <option>Really long option that will likely overlap the chevron</option>
                <option
                  v-for="(country,index) in getData"
                  :key="index"
                  :value="country"
                >{{country.Country}}</option>
              </select>
              <div
                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
              >
                <svg
                  class="fill-current h-4 w-12"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </div>-->
            </div>
          </div>
          <!-- <div class="h-screen overflow-y-scroll">
            <div
              v-for="(country,index) in getData"
              :key="index"
              :class="country.Country == selectedCountry.Country ? 'bg-blue-700 text-white' : 'bg-gray-400 text-gray-700'"
              class="text-center px-4 py-2 m-2"
              @click.prevent="selectCountry(country)"
            >{{country.Country}}</div>
          </div>-->
        </div>
      </div>
      <div class="w-full px-4">
        <!-- <h3 class="text-4xl">{{selectedCountry.Country}}</h3> -->
        <div class="md:flex md:justify-around">
          <card-number
            :cases-count="selectedCountry.TotalConfirmed"
            color-theme="bg-red-200 text-red-600"
          >Confirmed</card-number>
          <card-number
            :cases-count="selectedCountry.TotalDeaths"
            color-theme="bg-gray-200 text-gray-600"
          >Deaths</card-number>
          <card-number
            :cases-count="selectedCountry.TotalRecovered"
            color-theme="bg-blue-300 text-blue-600"
          >Recovered</card-number>
          <card-number
            :cases-count="selectedCountry.TotalConfirmed - (selectedCountry.TotalDeaths + selectedCountry.TotalRecovered)"
            color-theme="bg-yellow-300 text-yellow-600"
          >Active</card-number>
        </div>
        <div class="w-25 mb-2">
          <GChart type="BarChart" :data="barChartData" :options="barChartOptions" />
          <p class="text-sm mb-0">Active, Recovered and Deaths</p>
        </div>
        <div class="w-25 mb-2">
          <GChart type="LineChart" :data="lineChartData" :options="lineChartOptions" />
          <p class="text-sm mb-0">Confirmed - Daily increments</p>
        </div>
        <div class="w-25 mb-2">
          <GChart
            type="LineChart"
            :data="lineChartRecoDeaths"
            :options="lineChartRecoDeathsOptions"
          />
          <p class="text-sm mb-0">Recovered and Deaths</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import CardNumber from "../components/Dashboard/CardNumber";
import { GChart } from "vue-google-charts";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  components: {
    CardNumber,
    GChart,
    vSelect,
    Loading
  },
  data() {
    return {
      isLoading: false,
      data: [],
      getDate: "",
      selectedCountry: "",
      findCountry: "",
      barChartData: [],
      barChartOptions: {
        chart: {
          title: "Covid 19 analytics country wise",
          subtitle: "Covid 19 data "
        }
      },
      lineChartData: [],
      lineChartOptions: {
        chart: {
          title: " Confirmed Cases",
          curveType: "function",
          legend: { position: "bottom" }
        }
      },

      lineChartRecoDeaths: [
        ["as", "As", "As"],
        ["2323", 4, 6],
        ["2323", 9, 2226],
        ["2323", 14, 23236],
        ["2323", 54, 50006]
      ],
      lineChartRecoDeathsOptions: {
        chart: {
          title: "Compare recovered and deaths",
          curveType: "function",
          legend: { position: "bottom" }
        }
      }
    };
  },
  mounted() {
    this.getSummary();
    // this.renderChart(this.TotalConfirmed, {});
  },
  computed: {
    // getData() {
    //   let filter = new RegExp(this.findCountry, "i");
    //   return this.data.filter(el => el.Country.match(filter));
    // }
  },
  methods: {
    getSummary() {
      this.isLoading = true;
      this.axios
        .get("/summary")
        .then(res => {
          this.data = res.data.Countries;
          // this.data = this.data.shift();
          this.selectedCountry = this.data[1];
          this.selectCountry(this.selectedCountry);
          this.getDate = res.data.Date;

          let totalConfirmed = this.data.reduce(
            (acc, cur) => acc + cur.TotalConfirmed,
            0
          );
          let totalDeath = this.data.reduce(
            (acc, cur) => acc + cur.TotalDeaths,
            0
          );
          let totalRecovered = this.data.reduce(
            (acc, cur) => acc + cur.TotalRecovered,
            0
          );
          console.log(
            totalConfirmed,
            totalDeath,
            totalRecovered,
            totalConfirmed - (totalDeath + totalRecovered)
          );
          this.isLoading = false;
        })
        .catch(err => {
          this.error = err;
          this.isLoading = false;
        });
    },
    async selectCountry(country) {
      console.log("tets", this.selectedCountry);
      this.selectedCountry = country;
      let activeCases =
        this.selectedCountry.TotalConfirmed -
        (this.selectedCountry.TotalRecovered +
          this.selectedCountry.TotalDeaths);
      this.barChartData = [
        ["Element", "Cases", { role: "style" }, { role: "annotation" }],
        ["Active", activeCases, "#D69E2E", "Active Cases"],
        [
          "Recovered",
          this.selectedCountry.TotalRecovered,
          "#3182CE",
          "Recovered"
        ],
        ["Deaths", this.selectedCountry.TotalDeaths, "#718096", "Deaths"]
      ];
      let timelineCaases = await Promise.all([
        this.axios.get(
          `total/country/${this.selectedCountry.Country}/status/confirmed`
        ),
        this.axios.get(
          `total/country/${this.selectedCountry.Country}/status/recovered`
        ),
        this.axios.get(
          `total/country/${this.selectedCountry.Country}/status/deaths`
        )
      ]);
      this.lineChartData = timelineCaases[0].data.map(el => {
        return [new Date(el.Date).toLocaleDateString(), el.Cases];
      });
      this.lineChartData.unshift(["Time", "Confirmed"]);

      this.lineChartRecoDeaths = [
        timelineCaases[1].data,
        timelineCaases[2].data
      ].reduce((firstArray, secondArray) =>
        firstArray.map(elem => {
          return [
            new Date(elem.Date).toLocaleDateString(),
            elem.Cases,
            secondArray.find(el => el.Date === elem.Date).Cases
          ];
        })
      );

      console.log(this.lineChartRecoDeaths);

      // this.lineChartRecoDeaths = this.lineChartRecoDeaths.map(el => {
      //   return [new Date(el.Date).toLocaleDateString(), el.Cases];
      // });
      this.lineChartRecoDeaths.unshift(["Time", "Recovered", "Deaths"]);
    }
  }
};
</script>
<style scoped>
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  width: 40%;
  background: #dfe5fb;
  border: none;
  color: #394066;
  text-transform: lowercase;
  font-variant: small-caps;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}
</style>
