<template>
  <div class="container mx-auto py-3">
    <div class="w-full">
      <div
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded float-right"
        @click="installer()"
        :style="{'display' : installBtn}"
      >Install</div>
      <h3 class="text-2xl mb-2">World - Covid 19 Tracker</h3>
      <div class="md:flex md:justify-around px-4">
        <CardNumber
          :cases-count="data.TotalConfirmed"
          color-theme="bg-red-200 text-red-600 "
        >TOTAL CONFIRMED</CardNumber>
        <CardNumber
          :cases-count=" data.TotalConfirmed - (data.TotalRecovered + data.TotalDeaths)"
          color-theme="bg-yellow-200 text-yellow-600"
        >TOTAL Actives</CardNumber>
        <CardNumber
          :cases-count="data.TotalRecovered"
          color-theme="bg-blue-200 text-blue-600"
        >TOTAL Recovered</CardNumber>

        <CardNumber
          :cases-count="data.TotalDeaths"
          color-theme="bg-gray-200 text-gray-600"
        >TOTAL Deceased</CardNumber>
      </div>
    </div>
  </div>
</template>

<script>
import CardNumber from "../components/Dashboard/CardNumber";

export default {
  name: "Home",
  components: { CardNumber },
  data() {
    return {
      data: [],
      totalConfirmed: "",
      totalDeath: "",
      totalRecovered: "",
      totalActive: "",
      getDate: "",
      selectedCountry: "",
      findCountry: "",
      barChartData: [],
      barChartOptions: {
        chart: {
          title: "Covid 19 analytics country wise",
          subtitle: "Covid 19 data "
        }
      },
      lineChartData: [],
      lineChartOptions: {
        chart: {
          title: " Confirmed Cases",
          curveType: "function",
          legend: { position: "bottom" }
        }
      },

      lineChartRecoDeaths: [
        ["as", "As", "As"],
        ["2323", 4, 6],
        ["2323", 9, 2226],
        ["2323", 14, 23236],
        ["2323", 54, 50006]
      ],
      lineChartRecoDeathsOptions: {
        chart: {
          title: "Compare recovered and deaths",
          curveType: "function",
          legend: { position: "bottom" }
        }
      },
      installBtn: "none",
      installer: undefined
    };
  },
  created() {
    let installPrompt;
    window.addEventListener("beforeinstallprompt", e => {
      e.preventDefault();
      installPrompt = e;
      this.installBtn = "block";
    });
    this.installer = () => {
      this.installBtn = "none";
      installPrompt.prompt();
      installPrompt.userChoice.then(res => {
        if (res.outcome === "accecpted") {
          console.log("accepted by user");
        } else {
          console.log("denied by user");
        }
        installPrompt = null;
      });
    };
  },
  mounted() {
    this.getSummary();
  },
  methods: {
    getSummary() {
      this.axios
        .get("/summary")
        .then(res => {
          this.data = res.data.Global;
        })
        .catch(err => {
          this.error = err;
        });
    }
  }
};
</script>
