<template>
  <div>
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>
    <h3 class="text-2xl">India - Covid 19 tracker</h3>
    <div class="md:flex md:justify-around my-3 px-2">
      <CardNumberHome :cases-count="total.tConfirmed" color-theme="bg-red-200 text-red-600">
        CONFIRMED
        <template v-slot:trendChart>
          <trend
            :data="getTrend.dailyConfirmed"
            :gradient="['#da2008', '#dd0d42', '#ff2200']"
            stroke-width="3"
            auto-draw
            smooth
          ></trend>
        </template>
      </CardNumberHome>
      <CardNumberHome :cases-count="total.tActive" color-theme="bg-yellow-200 text-yellow-600">
        Active
        <template v-slot:trendChart>
          <trend
            :data="getTrend.dailyActive"
            :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
            stroke-width="3"
            auto-draw
            smooth
          ></trend>
        </template>
      </CardNumberHome>
      <CardNumberHome :cases-count="total.tDeceased" color-theme="bg-gray-200 text-gray-600">
        Deceased
        <template v-slot:trendChart>
          <trend
            :data="getTrend.dailyDeceased"
            :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
            stroke-width="3"
            auto-draw
            smooth
          ></trend>
        </template>
      </CardNumberHome>
      <CardNumberHome :cases-count="total.tRecovered" color-theme="bg-blue-200 text-blue-600">
        Recovered
        <template v-slot:trendChart>
          <trend
            :data="getTrend.dailyRecovered"
            :gradient="['#6fa8dc', '#42b983', '#2c3e50']"
            stroke-width="3"
            auto-draw
            smooth
          ></trend>
        </template>
      </CardNumberHome>
    </div>
    <div class="mb-3">
      <h3 class="text-2xl">Select State</h3>

      <div class="text-gray-700 text-center">
        <div class="inline-block relative w-54 my-2 px-4">
          <v-select
            style="min-width:280px"
            class="style-chooser"
            v-model="selectedState"
            :options="stateWise"
            label="state"
            @input="selectState(selectedState)"
          ></v-select>
        </div>
      </div>
      <div class="md:flex md:justify-around my-3 px-2">
        <CardNumber
          :cases-count="selectedState.confirmed"
          color-theme="bg-red-200 text-red-600"
        >CONFIRMED</CardNumber>

        <CardNumber
          :cases-count="selectedState.active"
          color-theme="bg-yellow-200 text-yellow-600"
        >Actives</CardNumber>
        <CardNumber
          :cases-count="selectedState.recovered"
          color-theme="bg-blue-200 text-blue-600"
        >recovered</CardNumber>
        <CardNumber
          :cases-count="selectedState.deaths"
          color-theme="bg-gray-200 text-gray-600"
        >deaths</CardNumber>
      </div>
    </div>
  </div>
</template>
<script>
import CardNumberHome from "../components/Dashboard/CardNumberHome";
import CardNumber from "../components/Dashboard/CardNumber";
import Trend from "vuetrend";
import axios from "axios";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    CardNumberHome,
    CardNumber,
    Trend,
    Loading,
    vSelect
  },

  data() {
    return {
      isLoading: false,
      stateWise: [],
      selectedState: {},
      loaded: false,
      total: {
        tConfirmed: 0,
        tDeceased: 0,
        tRecovered: 0,
        tActive: 0
      },
      data: [],
      getTrend: {
        dailyConfirmed: [],
        dailyDeceased: [],
        dailyRecovered: [],
        dailyActive: []
      },
      annoData: [],
      options: {
        type: Object,
        default: null
      }
    };
  },
  mounted() {
    this.onChartReady();
  },
  methods: {
    selectState(state) {
      console.log(state);
      this.selectedState = state;
    },
    onChartReady() {
      this.isLoading = true;
      axios
        .get("https://api.covid19india.org/data.json")
        .then(res => {
          console.log(res.data);
          this.stateWise = res.data.statewise;
          this.selectedState = this.stateWise[1];
          res.data.cases_time_series.map(el => {
            console.log("asas1", el.dailyconfirmed);
            this.getTrend.dailyConfirmed.push(Number(el.dailyconfirmed));
            this.getTrend.dailyDeceased.push(Number(el.dailydeceased));
            this.getTrend.dailyRecovered.push(Number(el.dailyrecovered));
            let daily_active =
              Number(el.dailyconfirmed) -
              (Number(el.dailyrecovered) + Number(el.dailydeceased));
            this.getTrend.dailyActive.push(daily_active);
            this.total.tConfirmed += Number(el.dailyconfirmed);
            this.total.tDeceased += Number(el.dailydeceased);
            this.total.tRecovered += Number(el.dailyrecovered);
          });
          this.total.tActive =
            this.total.tConfirmed -
            (this.total.tDeceased + this.total.tRecovered);
          this.annoData = res.data.cases_time_series;

          this.loaded = true;
          this.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          this.isLoading = false;
        });
    }
  }
};
</script>