<template>
  <div class="container mx-auto">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="true"></loading>
    <div class="w-full block">
      <div>
        <h3>World Map Showing most effected countries according to no of cases</h3>
        <a
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 mb-2 px-4 rounded"
          href="#"
          @click.prevent="siwtchValue = !siwtchValue;getData()"
        >{{siwtchValue ? "SouthEast Asia" : "World Map"}}</a>
        <!-- <a
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          href="#"
          @click.prevent="siwtchValue = !siwtchValue;getData()"
        >{{siwtchValue ? "World Map" : "South Asia"}}</a>-->
      </div>
    </div>
    <div class="h-32 block">
      <div class="py-4 mt-2">
        <GChart
          type="GeoChart"
          @ready="getData"
          :data="geoChartData"
          :options="geoChartDataOptions"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { GChart } from "vue-google-charts";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    GChart,
    Loading
  },
  data() {
    return {
      siwtchValue: false,
      isLoading: false,
      summary: [],
      countryList: [
        "India",
        "Bhutan",
        // "China",
        "Pakistan",
        "Nepal",
        "Thailand",
        "Malaysia",
        "Bangladesh",
        "Afganistan",
        "Myanmar",
        "Sri Lanka",
        "Indonesia",
        "Singapore",
        "Maldives",
        "Mongolia",
        "Japan",
        "Philippines",
        "Vietnam"
      ],
      geoChartData: [
        ["Country", "Number of cases"]
        // if i not initiallized with this than "incompitable data table error shoews Gchar"
      ],
      geoChartDataOptions: {
        chart: {
          // title: "Covid 19 analytics country wise",
          // subtitle: "Covid 19 data ",
          region: "034",
          colorAxis: { colors: ["#00853f", "#000", "#e31b23"] },
          backgroundColor: "#81d4fa",
          datalessRegionColor: "#f8bbd0",
          defaultColor: "#f5f5f5"
        }
      }
    };
  },
  mounted() {
    // this.getData();
  },
  methods: {
    getData() {
      this.isLoading = true;
      this.axios
        .get("/summary")
        .then(res => {
          this.summary = res.data.Countries;
          this.geoChartData = this.summary
            .filter(el =>
              this.siwtchValue === true
                ? el
                : this.countryList.includes(el.Country)
            )
            .map(el => [el.Country, el.TotalConfirmed]);
          this.geoChartData.unshift(["Country", "Number of cases"]);
          this.isLoading = false;
        })
        .catch(err => {
          console.log(err);
          this.isLoading = false;
        });
    }
  }
};
</script>