<template>
  <header id="nav" class="flex bg-gray-800 items-center justify-center py-5">
    <router-link to="/" class="px-2">Home</router-link>
    <router-link to="/country" class="px-2">Country Wise</router-link>
    <router-link to="/world-bubble" class="px-2">Geo</router-link>
    <router-link to="/india" class="px-2">India</router-link>
  </header>
</template>
<style scoped>
</style>