<template>
  <div>
    <div
      class="mb-6 sm:w-12 md:w-64 rounded-lg overflow-hidden shadow-xl border"
      v-bind:class="colorTheme"
    >
      <div class="px-6">
        <span class="text-4xl font-bold">{{casesCount || 5689363990 }}</span>
        <sub>
          <span class="font-bold text-sm uppercase">
            <slot></slot>
          </span>
        </sub>
        <div class="py-1">
          <slot name="trendChart"></slot>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    casesCount: [String, Number],
    colorTheme: {
      type: String,
      default: "bg-blue-200 text-blue-600"
    }
  }
};
</script>