<template>
  <div
    class="mb-6 sm:w-12 md:w-64 rounded-lg overflow-hidden shadow-xl border"
    v-bind:class="colorTheme"
  >
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2 uppercase">
        <slot></slot>
      </div>
      <p class="text-4xl font-bold">{{casesCount || 0 }}</p>
      <div class="py-1">
        <slot name="trendChart"></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    casesCount: [String, Number],
    colorTheme: {
      type: String,
      default: "bg-blue-200 text-blue-600"
    }
  }
};
</script>