<template>
  <div></div>
</template>
<script>
// import { LMap } from "vue2-leaflet";

import ChoroplethMap from "vue-choropleth";
// import "~leaflet/dist/leaflet.css";
import "../../../node_modules/leaflet/dist/leaflet.css";
import india from "./india.json";

export default {
  components: {
    ChoroplethMap
  },
  data() {
    return {
      indiaGeo: india,
      colorScale: ["e7d090", "e9ae7b", "de7062"],
      mapOptions: {
        attributionControl: false
      },
      currentStrokeColor: "3d3213"
    };
  }
};
</script>